/* Global Styles */

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    min-width: 960px;
}

h1 {
    color: #fffff0;
    background-color:#FCAFC0;
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    width: 350px;
    padding-top: 25px;
    padding-bottom: 20px;
}

h2, h3 {
    color: #800000; 
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
}

h2 {
    font-size: 25px;
    border-bottom: 3px solid #cccccc;
}

h3 {
    font-size: 23px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

h4 {
    color: #ffffff;
    background-color:#800000; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 23px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}

li {
    display: inline-block;
}

a:hover {
    opacity: 0.5;
}

/* Header Styles */

header {
    background-color:#9DE7D7;
    border-bottom: 2px solid #74D1EA;
    font-family: 'Dancing Script', cursive;
}

.header {
    width: 960px;
    margin: auto;
    font-family: 'Dancing Script', cursive;
}

h1 {
    display: inline-block;
    
}

nav {
    float: right;
    padding-top: 35px;
}

nav li {
    border-right: 1px solid #cccccc;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

nav li:first-child {
    padding-left: none;
}

nav li:last-child {
    border-right: none;
    padding-right: none;
}

nav a {
    color: #777777;
    text-decoration: none;
}

/* Main Styles */

main {
    /* Background pattern from Subtle Patterns */
    background-image: url("../images/img_bkg.jpg");
    font-family: 'Cabin Sketch', cursive;
}


.main_content {
    width: 960px;
    margin: auto;
    padding: 50px 0px 140px 0px;
}

section {
    display: inline-block;
    width: 650px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

.content {
    margin: 25px 20px 30px;
    overflow: auto;
}

section p {
    line-height: 2.0;
}

section p img {
    float: left;
    margin-right: 20px;
}

section a {
    float: left;
    margin-bottom: 50px;
    width: 45%;
}

section a:nth-child(even) {
    float: right;
}

section a div {
    width: 100%;
    position: relative;
}

section a img {
    width: 100%;
}

section h4 {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
}

input[type=text], textarea {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0px 15px;
}

input[type=submit] {
    background-color: #800000;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 10px 30px;
}

aside {
    float: right;
    width: 270px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

aside ul {
    width: 190px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

aside img {
    width: 60px;
}

/* Footer Styles */

footer {
    border-top: 6px solid#74D1EA;
    background-color:#F65275;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

footer p{
    text-align: center;
    margin: auto;
    color:#000000
}